```css
.figure {
  text-align: center;
}

.figure-caption {
  text-align: center;
  font-style: italic;
}

.quarto-figure {
  text-align: center !important;
}

.quarto-figure figcaption,
figure > figcaption {
  text-align: center !important;
  margin-top: 0.5em;
  font-style: italic;
  display: block;
}
```